// food
.food_comp
{
    // background-color: red;
    // border:solid 1px black ; 
    width:100%; 
    height: 18rem ;
    display: flex;
    flex-direction: column;
    .food_top
    {
        height: 55%; 
        border-top-left-radius:15px ; 
        border-top-right-radius:15px ; 
        display:flex ;
        align-items: flex-end;
        flex-direction:column; 
        // border: solid 1px red;
        background-image: url("../../assets/images/food.jpeg");
        background-size: cover ; 
        background-position-x:center;
        padding-left: 2rem;
        padding-right: 1rem;
        padding-top:1rem;
        span{
            font-family:'Inter',sans-serif ; 
            color:white ; 
            font-weight:bold ; 
            font-size:15px; 
        }
    }
    .food_bottom{
        border-bottom-left-radius:15px ; 
        border-bottom-right-radius: 15px ; 
        background-color: white;
        height:45%; 
        display:flex ; 
        padding: 1rem; 
        align-items: center;
        font-family: 'Inter',sans-serif ; 
        justify-content: space-between;
        flex-direction: column ;
        gap:5px; 
        .infos-div{ 
            display: flex ; 
            width: 100%; 
            justify-content: space-between;
        }
        .loca-div{ 
            display: flex ;
            color: black ; 
            align-items: center;
                span{ 
                    font-family: 'Inter',sans-serif;
                    font-size: 12px  ;
                    font-weight: 500 ;
                    gap: 2px;
                }
        }
        .btn-div{
             display: flex ;
             height: fit-content;
             width: 100%;
             justify-content: space-between;
             align-items: center;
                button:first-of-type{
                    background-color: orange;
                     height: 2rem ;
                    display: flex ; 
                    align-items: center;
                }
        }
        .infos-div{ 
            // display: f;
            display: flex ;
            align-items: center ;
            >span{ 
                color: black ; 
                font-size:  20px ;
                font-weight: bold ;
            }
        }
        .descript-div{
            display:flex ; 
            width: 100%;
            justify-content: space-between;
            span{
                color:rgb(121, 118, 118) ;
                font-family:'Inter',sans-serif ; 
            }
        }
    } 

}