.footer-main { 
    height: 3rem;
    border-radius: 14px;
    display: flex;
    margin: 3%;
    gap: 53px;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 5px;
        a  {
            color: black ;
            text-decoration: none ;

        }
    
}